<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Galeria</title>
    <link rel="stylesheet" href="./../estilos/estilos.css">
</head>
<body class="body-galeria">
    <header class="header-galeria">
        <nav>
            <div>
                <h1><a href="./../index.html"  class="cursiva">Relojeria Phoenix</a></h1>
            </div>
            <div class="lista-header">
                 <ul>
                    <li><a href="./galeria.html" class="boton-galeria">Galeria</a></li>
                    <li><a href="./presupuesto.html" class="boton-presupuesto">Presupuesto</a></li>
                    <li><a href="./contacto.html" class="boton-contacto">¡Contacta con nosotros!</a></li>
                </ul>
            </div>
        </nav>
        <div class="contenedor-galeria">
            <h2 class="titulo-galeria">¡¡Te mostramos nuestra nueva coleccion!!</h2>
        </div> 
        <hr class="raya">
    </header>
    <main>
        <section class="contenedor">
            <div  class="imagenes"><a href="./presupuesto.html" class="enlaces-galeria">
                <img src="./../assets/imagenes/wristwatch-407096_1280.jpg" alt="relos de cuero negro" width="1280" height="853" class="imagen1">
                <p class="texto-galeria">"Guardián del Tiempo"</p>
                <p class="texto-galeria">El "Guardián del Tiempo": reloj de lujo que fusiona elegancia y funcionalidad con diseño sofisticado y precisión mecánica. Elaborado en acero u oro, su esfera equilibrada y agujas precisas lo convierten en un compañero de estilo para todas las ocasiones, marcando momentos con gracia y autoridad.</p>
                <p class="texto-precio">€ 100</p></a>
            </div>
            <div  class="imagenes"><a href="./presupuesto.html" class="enlaces-galeria">
                <img src="./../assets/imagenes/reloj-cuero.jpg" alt="relos de cuero marron" width="1280" height="816" class="imagen1">
                <p class="texto-galeria">"Guardián del Tiempo"</p>
                <p class="texto-galeria">El "Guardián del Tiempo": reloj de lujo que fusiona elegancia y funcionalidad con diseño sofisticado y precisión mecánica. Elaborado en acero u oro, su esfera equilibrada y agujas precisas lo convierten en un compañero de estilo para todas las ocasiones, marcando momentos con gracia y autoridad.</p>
                <p class="texto-precio">€ 100</p></a>
            </div>
            <div  class="imagenes"><a href="./presupuesto.html" class="enlaces-galeria">
                <img src="./../assets/imagenes/mano-mujer1.jpg" alt="relos dorado de mujer" width="1280" height="853" class="imagen1">
                <p class="texto-galeria">"Guardián del Tiempo"</p>
                <p class="texto-galeria">El "Guardián del Tiempo": reloj de lujo que fusiona elegancia y funcionalidad con diseño sofisticado y precisión mecánica. Elaborado en acero u oro, su esfera equilibrada y agujas precisas lo convierten en un compañero de estilo para todas las ocasiones, marcando momentos con gracia y autoridad.</p>
                <p class="texto-precio">€ 100</p></a>
            </div>
            <div  class="imagenes"><a href="./presupuesto.html" class="enlaces-galeria">
                <img src="./../assets/imagenes/mano-mujer.jpg" alt="reloj de ezfera azul para mujer" width="1280" height="853" class="imagen1">
                <p class="texto-galeria">"Guardián del Tiempo"</p>
                <p class="texto-galeria">El "Guardián del Tiempo": reloj de lujo que fusiona elegancia y funcionalidad con diseño sofisticado y precisión mecánica. Elaborado en acero u oro, su esfera equilibrada y agujas precisas lo convierten en un compañero de estilo para todas las ocasiones, marcando momentos con gracia y autoridad.</p>
                <p class="texto-precio">€ 100</p></a>
            </div>
                <div  class="imagenes"><a href="./presupuesto.html" class="enlaces-galeria">
                <img src="./../assets/imagenes/reloj-marron.jpg" alt="reloj de hombre de cuero marron" width="1280" height="853" class="imagen1">
                <p class="texto-galeria">"Guardián del Tiempo"</p>
                <p class="texto-galeria">El "Guardián del Tiempo": reloj de lujo que fusiona elegancia y funcionalidad con diseño sofisticado y precisión mecánica. Elaborado en acero u oro, su esfera equilibrada y agujas precisas lo convierten en un compañero de estilo para todas las ocasiones, marcando momentos con gracia y autoridad.</p>
                <p class="texto-precio">€ 100</p></a>
            </div>
        </section>
        <!-- <section class="contenedor2">
            <img src="./../assets/imagenes/fondo.png" alt="logo" width="1024" height="1024" class="imagen-logo">
        </section> -->
    </main>
    <hr class="raya">
    <footer>
        <div class="copy">
            <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
            <div class="final">
                <a href="./views/contacto.html">¡Contacta con nosotros!</a>      
            </div>    
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="logo-instagram"  src="./../assets/imagenes/iconos-08.png" alt="instagram" width="138" height="138"></a>
            <a href="https://www.facebook.com/?locale=es_ES" target="_blank"><img class="logo-facebook" src="./../assets/imagenes/icono-fb.png" alt="facebook" width="137" height="138"></a>
        </div>
    </footer>
    
</body>
</html>